/* The Modal (background) */
.modal {
  display: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image {
  width: 50px;
}
.module {
  text-align: center;
}
.pokoname {
  font-size: 20px;
}
.title {
  font-size: 10px;
  text-align: center;
}
.type1 {
  margin: 2px;
  color: red;
  padding: 5px;
  border: 1px solid red;
  font-size: smaller;
}
.type2 {
  margin: 2px;
  color: green;
  padding: 5px;
  border: 1px solid green;
}
.flexc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.moveslist {
  display: grid;
  list-style: disc;
  grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
  font-size: smaller;
}
.progress {
  display: block;
  margin: auto;
  max-width: 150px;
  height: 10px;
}
.label {
  text-align: center;
  color: black;
  padding: auto;
}
.pokemonDetail {
  display: flex;
  justify-content: center;
}
